<?php $this->assign('title', 'login');?>
<?php
    $entity = "login form";
    echo $this->Form->create($entity);
    echo $this->Form->control("email");
    echo $this->Form->control("password");
    echo $this->Form->submit();
    echo $this->Form->end();
?>
<html>
    <pre>
        <?php echo $this->Html->link('register', array('controller' => 'Arenas', 'action' => 'register')); ?>
        <?php echo $this->Html->link('forgot password ?', array('controller' => 'Arenas', 'action' => 'forgotPassword')); ?>
    </pre>
</html>
