<?php
/**
 * CakePHP(tm) : Rapid Development Framework (https://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (https://cakefoundation.org)
 * @link          https://cakephp.org CakePHP(tm) Project
 * @since         0.10.0
 * @license       https://opensource.org/licenses/mit-license.php MIT License
 */

$cakeDescription = 'CakePHP: the rapid development php framework';
?>
<!DOCTYPE html>
<html>
<head>
    <?= $this->Html->charset() ?>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <?= $cakeDescription ?>:
        <?= $this->fetch('title') ?>
    </title>
    <?= $this->Html->meta(
    'icone.ico',
    'icone.ico',
    ['type' => 'icon']
); ?>
    <?= $this->Html->css('base.css') ?>
    <?= $this->Html->css('cake.css') ?>
    <?= $this->Html->css('webarena.css') ?>
    <?= $this->fetch('meta') ?>
    <?= $this->fetch('css') ?>
    <?= $this->fetch('script') ?>
    <?= $this->Html->script('jquery.js');?>
    <?= $this->Html->script('datatables.js');?>
</head>
<body>
    <header>
        <?php echo $this->Html->link('Accueil', array('controller' => 'Arenas', 'action' => '/')); ?>
        <?php echo $this->Html->link('Journal', array('controller' => 'Arenas', 'action' => 'diary')); ?>
        <?php echo $this->Html->link('Vision', array('controller' => 'Arenas', 'action' => 'sight')); ?>
        <?php echo $this->Html->link('Combattant', array('controller' => 'Arenas', 'action' => 'fighter')); ?>	
	<?php echo $this->Html->link('Hall of Fame', array('controller' => 'Arenas', 'action' => 'halloffame')); ?>	
    </header>
    <nav class="top-bar expanded" data-topbar role="navigation">
        <ul class="title-area large-3 medium-4 columns">
            <li class="name">
                <h1><a href=""><?= $this->fetch('title') ?></a></h1>
            </li>
        </ul>
        <div class="top-bar-section">
            <ul class="right">
                <li><?php $session = $this->request->session();
			if($session->check('email')){
				echo $this->Html->link('Logout', array('controller' => 'Arenas', 'action' => 'logout'));
			}else{
				echo $this->Html->link('Login', array('controller' => 'Arenas', 'action' => 'login'));
			}
		?></li>
                <li><a target="_blank" href="https://campus.ece.fr">Aide</a></li>
            </ul>
        </div>
    </nav>
    <?= $this->Flash->render() ?>
    <div class="container clearfix">
        <?= $this->fetch('content') ?>
    </div>
    <footer style="background-color: #d9d9d9;">
            <small>
                [Groupe] SI5-07<br>
                [OPTION] CE+A<br>
                [Membres] Armingaud Camille / Cierco Jeremy / Costantini Malrick / Rowe Guillaume<br>
                [VERSIONNING BITBUCKET] <a href="https://bitbucket.org/youseriousboi/webarena/commits/all" target="_blank">commit bitbucket</a><br>
                [VERSIONNING FILE] <?= $this->Html->link('versions.log', '/webroot/versions.log', ['target' => '_blank']); ?>
             </small>
    </footer>
</body>
</html>
